<div class="mt-4 grid md:grid-cols-4 sm:gap-4 gap-12">
  <div class="overflow-hidden gap-4 grid h-fit sm:px-2 px-4 md:px-0 sm:col-span-3">
    <div class="text-lg rounded-full items-center gap-2 hidden sm:flex">
      <span class="material-icons material-symbols-rounded">
        radio_button_checked
      </span>
      <div class="font-bold text-base uppercase">
        <%= @article.title %>
        <% if @article.price.present? %>
          <span class="text-lg font-bold text-[#fc1703]"><%= @article.price %></span>
        <% end %>
      </div>
    </div>
    <div class="block sm:hidden">
      <span class="font-bold text-base uppercase"><%= @article.title %></span>
      <span class="text-lg font-bold text-[#fc1703]"><%= @article.price %></span>
      <hr class="border-link mt-2">
    </div>
    <div class="text-secondary">
      <div class="sm:ml-2.5 sm:pl-4 sm:border-l-2 sm:border-link-disabled">
        <%= @article.content.body %>
      </div>
    </div>
  </div>

  <%= render Home::TrendsComponent.new(trends: Featured.not_article(@article.id).trending.top) %>

  <div class="sm:hidden grid gap-12">
    <% Featured.not_article(@article.id).auto_show.bottom.each do |featured| %>
      <%= render Home::AutoShowComponent.new(featured: featured) %>
    <% end %>
  </div>
</div>