<table class="min-w-full divide-y divide-gray-300">
  <thead>
    <tr>
      <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Link tới bài viết</th>
      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Vị trí</th>
      <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0 w-[120px]">
        <%=
          render Shared::ButtonComponent.new(
            size: :sm,
            text: 'Thêm mới',
            data: {
              url: new_admin_featured_path(kind: kind),
              controller: 'shared--fetch'
            })
        %>
      </th>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-200">
    <% featureds.each do |featured| %>
      <tr id="featured-<%= featured.id %>">
        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
          <%=
            render Shared::ButtonComponent.new(
              hierarchy: :link,
              leading_icon: 'link',
              text: featured.title,
              data: {
                url: edit_admin_article_path(featured.article.id),
                controller: 'shared--fetch'
              })
          %>
        </td>
        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= featured.position %></td>
        <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0 flex gap-2">
          <%=
            render Shared::ButtonComponent.new(
              hierarchy: :link,
              leading_icon: 'edit',
              text: 'Sửa',
              data: {
                url: edit_admin_featured_path(featured.id),
                controller: 'shared--fetch'
              })
          %>
          <%=
            render Shared::ButtonComponent.new(
              hierarchy: :link,
              leading_icon: 'delete',
              href: admin_featured_path(featured.id),
              data: {
                turbo_method: :delete,
                turbo_confirm: 'Chắc chắn không ?'
              },
              text: 'Xoá')
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
