<header class="shadow-md sm:shadow-none sm:py-3 sm:px-0 px-3 py-1">
  <div class="flex items-center">
    <div class="flex-none">
      <a href="<%= root_path %>">
        <%= image_tag '/logo.png', class: 'w-[200px]' %>
      </a>
    </div>
    <div class="grow flex justify-end">
      <%= render 'layouts/header_mobile' %>
      <%= render 'layouts/right_of_logo' %>
    </div>
  </div>

  <%= render 'layouts/below_of_logo' %>
</header>
