<!DOCTYPE html>
<html>
  <head>
    <title>Tuanbb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body class="antialiased">
    <main class="container mx-auto">
      <%= render 'layouts/admin_menu' %>
      <%= yield %>
    </main>
    <%= render 'layouts/google_analytics' %>
    <%= render 'layouts/facebook_chatbox' %>
  </body>
</html>
