<!DOCTYPE html>
<html>
  <head>
    <title>MotionsCloud | Damage Inspection</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'helpers' %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="antialiased">
    <main class="container mx-auto mt-28 px-5 flex justify-center items-center">
      <div class="w-[400px]">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
